.modal-tabs{
    margin-top: 42px;
    &__nav{
        padding: 0;
        border-bottom: 1px solid #393939;
        li{
            display: inline-block;
            color: $textColor;
            font-size: 14px;
            font-weight: bold;
            padding: 0 7px 4px 7px;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            transition: .2s ease-in-out;
            &:hover{
                color:#777777;
            }
            &.active{
                color: $primaryColor;
                border-bottom-color: $primaryColor;
            }
        }
    }
    .modal-tab{
        margin-top: 31px;
        &__header{
            color: #BCBCBC;
            font-size: 18px;
            font-weight: bold;
        }
        .modal-table{
            margin-top: 15px;
        }
    }
}